<h1>Is it a palindrome?</h1>

 <p>Soon we shall see..</p>

 <form action='/results' method='get'>
   <div class="form-group">
     <label for="userNumber">Enter a word or phrase (no spaces)</label>
    <input id="userNumber" name="userNumber" class="form-control" type="text">
   </div>

   <button type="submit" class="btn btn-info">Go!</button>
 </form>
